   .custom-btn{
     padding: 10px 15px;
    min-height: 40px;
    font-size: 18px;
    gap: 2px;
}
.impact-btn{
  max-width:140px;
  font-weight: 100;
  font-size:18px;
}
.para{
  line-height: 1.5;
}
.para-2{
  line-height: 1.5;
}
.modify2 .last-btn{
 
  padding:20px 50px; 
  /* width:250px; */
  font-size: 22px;
  margin-top:40px !important;
}
.sol-content h2{
  /* font-size: 2rem; */
}
@media (min-width: 1200px) {
    .ingredient-item h3 {
        font-size: 1.75rem;
    }
    .imp-content h4{
      font-size: 1.7rem;
    }
}
@media(max-width:1000px){
  .container{
    width:90%;
  }
}
@media(max-width:992px){
  .first{
    padding-top:40px;
  }
  .fourth{
    padding-top:50px;
  }
  .sixth{
    margin-top:60px;
  }
  .animate-content{
    padding:40px;
  }
  .the-impact{
    padding-top:0;
  }
  .impact-card{
    padding-top:0;
    width:90%;
  }.imp-content{
    padding:0;
  }
  .last-img{
    display:none;
  }
  .footer{
  padding:50px 0;
 }
  .footer-left{
  width:100%;
 }
 .blog-items .slick-arrow {
    position: absolute;
    top:-35px;
    background-color: #104E80;
    color:#fff;
    height:30px;
    width:30px;
    border-radius: 50%;
  }
.blog-items .slick-next.slick-arrow {
    right: 5%;
    transform: translateX(5%);
}
.blog-items .slick-prev.slick-arrow {
    left: 90%;
    transform: translateX(-90%);
}
.blog-items .slick-prev.slick-arrow::before{
  content:"";
  background-image: url('./images/weui_arrow-outlined.png');
  background-position: center;
  object-fit: cover;
  display: block;
  margin: auto;
  height: 14px;
  width:14px;
}
.blog-items .slick-next.slick-arrow::before{
  content:"";
  background: url('./images/chevron-right.png');
   background-position: center;
  object-fit: cover;
  display: block;
  margin: auto;
  height: 14px;
  width:14px;
}
.slide-items .slides .slide-img:nth-child(1) img {
  max-height: 222px;
}
.slide-items .slides:nth-child(2) .slide-head{
  position:relative;
  width:100%;
  left:0;
  min-width: 100%;
}
.slide-items .slides:nth-child(1) .slide-head {
    position: relative;
}
}
@media(max-width:768px){
 .first{
  padding-top:40px;
 }
 .sixth{
  margin-top:40px;
 }
 .animate-content{
  padding:20px;
 }
 .fourth{
    padding-top: 40px;
  }
 .fourth-content img{
  height:120px;
  width:120px;
 }
 .fourth-content{
  margin:auto ;
 }
 .modify{
  width:100%;
 }
 .impact-card{
  padding-top:0;
 }
 .blog-items{
  padding-top:30px;
 }
 .footer{
  padding:50px 0;
 }
 .footer-left{
  width:100%;
  justify-items: center;
  align-items: center;
  font-weight: 600;
  padding:30px;
 }
 .footer-right{
  width:100%;
  justify-items: center;
  align-items: center;
  padding-left:0;
 }
 .location{
flex-direction: column;
justify-content: center;
align-items: center;
 }
 .call{
  flex-direction: column;
justify-content: center;
align-items: center;
 }
 .last-img{
  display: none;
 }
 .the-impact{
  padding-top:20px;
 }
 .blog-items .slick-arrow {
    position: absolute;
    top:-30px;
    background-color: #104E80;
    color:#fff;
    height:25px;
    width:25px;
    border-radius: 50%;
  }
.blog-items .slick-next.slick-arrow {
    right: 5%;
    transform: translateX(5%);
}
.blog-items .slick-prev.slick-arrow {
    left: 85%;
    transform: translateX(-85%);
}
.blog-items .slick-prev.slick-arrow::before{
  content:"";
  background-image: url('./images/weui_arrow-outlined.png');
  background-position: center;
  object-fit: cover;
  display: block;
  margin: auto;
  height: 12px;
  width:12px;
}
.blog-items .slick-next.slick-arrow::before{
  content:"";
  background: url('./images/chevron-right.png');
   background-position: center;
  object-fit: cover;
  display: block;
  margin: auto;
  height: 12px;
  width:12px;
}
.blog-items{
  padding-bottom: 50px;
}
 
}
@media(min-width:575px) and (max-width:768px){
  .slide-items{
    width:60%;
  }
}
@media(max-width:575px){
  .fourth{
    padding-top: 20px;
  }
  .modify{
    width: 100%;
  }
  .impact-card{
    width:100%;
  }
  .blog img{
    max-height:100px !important;
    
  }
  .ingredient-mid img {
    height:400px;
  }
}
@media (max-width:998px){
  .footer-right{
    padding-left: 20px;
  }
}